In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('yelp.csv')
data.head(1)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0

In [10]:
data2 = data[['stars', 'text']]

In [12]:
data2.apply(len)

stars    10000
text     10000
dtype: int64

In [13]:
data2.groupby('stars').describe()

       text
      count unique                                                top freq
stars
1       749    749  I wish I could give this location a big fat ZE...    1
2       927    926  This review is for the chain in general. The l...    2
3      1461   1461  Arrived around 5pm one Wednesday evening. The ...    1
4      3526   3526  My husband and I were in the Staples parking l...    1
5      3337   3336                                      Great service    2

In [16]:
data2.head(2)

   stars                                               text
0      5  My wife took me here on my birthday for breakf...
1      5  I have no idea why some people give bad review...

In [14]:
from sklearn.model_selection import train_test_split

In [37]:
x_train, x_test, y_train, y_test = train_test_split(data2.text, data2.stars, test_size=0.2)

In [38]:
from sklearn.feature_extraction.text import CountVectorizer

In [39]:
vect = CountVectorizer()
x_train_count = vect.fit_transform(x_train.values)
x_test_count = vect.transform(x_test)

In [40]:
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [41]:
# model formation

In [42]:
from sklearn.naive_bayes import MultinomialNB

In [43]:
model = MultinomialNB()
model.fit(x_train_count, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [44]:
# measuring the acuracy
x_test_count

<2000x26457 sparse matrix of type '<class 'numpy.int64'>'
	with 160523 stored elements in Compressed Sparse Row format>

In [49]:
model.score(x_test_count, y_test)

0.483

In [51]:
#x_test_count.toarray()

In [52]:
#y_test

In [53]:
#Using pipeline

In [54]:
from sklearn.pipeline import Pipeline

pipeline  = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [55]:
pipeline.fit(x_train, y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('nb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [56]:
pipeline.score(x_test, y_test)

0.483

In [60]:
from sklearn.datasets import load_wine

In [61]:
wine = load_wine()

In [62]:
dir(wine)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [65]:
pd.DataFrame(wine.data, columns=wine.feature_names).head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [67]:
data2.head(2)

   stars                                               text
0      5  My wife took me here on my birthday for breakf...
1      5  I have no idea why some people give bad review...

In [72]:
x= data2.text
y= data2.stars

In [73]:
from sklearn.feature_extraction.text import CountVectorizer

In [74]:
v = CountVectorizer()
v.fit(x)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [75]:
x2 = v.transform(x)

In [77]:
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y, test_size=0.2)

# model formations

In [81]:
from sklearn.naive_bayes import MultinomialNB

In [82]:
model2 = MultinomialNB()
model2.fit(x2_train, y2_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [84]:
model2.score(x2_test, y2_test)

0.487

djfdl